# EditorConfig is awesome: https://EditorConfig.org

# for formatter code, beacuse we work as a team so we need this code rule

# Top-most EditorConfig file
root = true

# Matches all files. Set the default charset and line ending.
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go files
[*.go]
indent_style = tab
indent_size = 4
